<div class="login-screen w-full relative">
    <div class="absolute top-0 right-0"><img src="assets/image/G.svg" alt=""></div>
    <div class="login-screen__content flex flex-col items-center justify-center h-full ">
        <h1 class="login-screen__title">GAME</h1>
        <div class="w-full">
            <div class="relative mb-6">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                    <svg class="w-4 h-4 text-white dark:text-gray-400" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                        <path
                            d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z" />
                        <path
                            d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z" />
                    </svg>
                </div>
                <input type="text" id="input-group-1"
                    class="text-white text-sm rounded-lg block w-full ps-10 p-2.5 focus:outline-none  backcolor"
                    placeholder="name@flowbite.com">
            </div>

            <div class="relative mb-6">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                    <svg class="w-4 h-4 text-white dark:text-gray-400" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                        <path
                            d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z" />
                        <path
                            d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z" />
                    </svg>
                </div>
                <input type="text" id="input-group-1"
                    class="text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  focus:outline-none backcolor"
                    placeholder="name@flowbite.com">
            </div>
        </div>
        <div class="w-full"><button type="button" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-white w-full focus:outline-none bg-white rounded-lg hover:bg-gray-200 hover:text-red-500 backcolor cursor-pointer">Alternative</button>
        <p class="text-white text-center">I dont have an account. Registrar here</p></div>
        
    </div>
</div>