@if(showFlash){
<app-flash-screen></app-flash-screen>

} @else {

<div class="bg-gradient-to-br from-[#EE9B00] to-[#AE2012]">
  <div class="flex gap-4 w-full p-4 h-screen">
    <div class="">
      <app-sidebar></app-sidebar>
    </div>

    <div class="w-full flex flex-col gap-2">
      <div class="w-full">
        <div
          class="flex items-center bg-white/20 rounded-xl overflow-hidden p-2"
        >
          <input
            type="text"
            placeholder="Search game"
            [(ngModel)]="searchTerm"
            (input)="onSearchChange()"
            class="flex-1 px-4 py-3 bg-transparent text-white text-3xl placeholder-white focus:outline-none"
          />
          <div class="px-4 h-[1.5rem] flex items-center">
            <img src="assets/icon/search.svg" alt="" class="h-[1.5rem]" />
          </div>
        </div>
      </div>

      <div class="w-full mx-auto h-full overflow-y-auto">
        <div class="flex gap-2 overflow-x-auto py-4 mb-4">
          <button
            *ngFor="let category of categories"
            class="rounded-full px-4 py-2 whitespace-nowrap font-medium text-sm shadow-md transition-all duration-200 transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-[#b45309]"
            [ngClass]="{
              'bg-[#bd6500] text-white shadow-lg':
                selectedCategory === category,
              'bg-[#f59e0b] text-white hover:bg-[#dc6c00]':
                selectedCategory !== category
            }"
            (click)="filterByCategory(category)"
          >
            {{ category | titlecase }}
          </button>
        </div>

        <div
          class="grid grid-cols-[repeat(auto-fill,minmax(180px,1fr))] gap-4 auto-rows-[minmax(180px,auto)] grid-flow-dense max-[768px]:grid-cols-[repeat(auto-fill,minmax(140px,1fr))] max-[480px]:grid-cols-[repeat(auto-fill,minmax(120px,1fr))]"
        >
          <app-game-card
            *ngFor="let game of games"
            [game]="game"
          ></app-game-card>
        </div>
      </div>
    </div>
  </div>
</div>
}
