<ng-container *ngIf="showFlash; else mainContent">
  <app-flash-screen></app-flash-screen>
</ng-container>

<ng-template #mainContent>
  <div class="bg-gradient-to-br from-[#EE9B00] to-[#AE2012]">
    <div class="flex gap-4 w-full p-4 h-screen">
      <div>
        <app-sidebar></app-sidebar>
      </div>

      <div class="w-full flex flex-col gap-2">
        <!-- HEADER -->
        <app-header
          [searchTerm]="searchTerm"
          (searchChanged)="onSearchTermChanged($event)"
        ></app-header>

<app-game-player></app-game-player>

        <!-- GAME LIST -->
        <!-- <app-game-list
          [games]="games"
          [categories]="categories"
          [selectedCategory]="selectedCategory"
          (categoryChanged)="filterByCategory($event)"
        ></app-game-list> -->
      </div>
    </div>
  </div>
</ng-template>
