<div
  class="sidebar-wrapper flex flex-col gap-5 w-full  rounded-3xl p-4 h-[calc(100vh-2rem)] transition-all duration-300"
>
  <div class="ai-header flex flex-col gap-2 items-center">
    <h1 class="flash-screen__title">GAME</h1>
    <p class="flash-screen__description">WIZARD</p>
  </div>

 

  <div class="sidebar-items flex flex-col gap-4">
    <a
      class="sidebar-item flex items-center gap-3 rounded-2xl cursor-pointer transition-all duration-300"
    >
      <span class=""><img src="assets/icon/game-box.svg" alt="" /></span>
      <span class="text text-white text-md font-semibold">Game Box</span>
    </a>
    <a
      class="sidebar-item flex items-center gap-3 rounded-2xl cursor-pointer transition-all duration-300"
    >
      <span class=""><img src="assets/icon/Meeting room.svg" alt="" /></span>
      <span class="text text-white text-md font-semibold">Game room</span>
    </a>

    <a
      class="sidebar-item flex items-center gap-3 rounded-2xl cursor-pointer transition-all duration-300"
    >
      <span class=""><img src="assets/icon/People alt.svg" alt="" /></span>
      <span class="text text-white text-md font-semibold">People Online</span>
    </a>
     <a
      class="sidebar-item flex items-center gap-3 rounded-2xl cursor-pointer transition-all duration-300"
    >
      <span class=""><img src="assets/icon/Settings.svg" alt="" /></span>
      <span class="text text-white text-md font-semibold">Setting</span>
    </a>
  </div>

  <!-- <div
    class="profile-section flex items-center gap-4 p-2 border border-gray-300 rounded-3xl mt-auto cursor-pointer"
  >
    <div
      class="profile-avatar w-10 h-10 rounded-full bg-gray-800 text-white flex items-center justify-center text-xl font-bold"
    >
      G
    </div>
    <div class="profile-name text-lg font-bold text-gray-800">Guest User</div>
    <span class="arrow-icon ml-auto w-4 h-4 bg-gray-500 rounded-full"></span>
  </div> -->

</div>
